.form-title {
  font-size: 1.5rem;
}

.input-icon-color {
  color: var(--teriary-color);
  width: 17px !important;
}

.input-icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}
