:root {
  font-size: 16px;
  --color: rgb(28, 28, 28);
  --color2: #23695d;
  --primary-color: #b0a8b9;
  --secondary-color: #959ab1;
  --teriary-color: #518394;
  --letter-spacing: 0.6px;
}

body {
  margin: 0;
  font-family: Brush Script MT;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color);
  letter-spacing: var(--letter-spacing);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* + * {
  margin-bottom: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
